<% if user_signed_in? %>
	<br>
	<br>
	<h1>You have logged in successfully and can now create entries.</h1>
<% else %>
	<br>
	<br>
	<h1>I am Hacker Websites :) </h1>
	<h4>A collection of all the really cool websites where you can browse or create your own entries on that you find really cool.</h4>
<%end%>


